export(back)
export(fathom)
export(fathom_binary)
export(find)
export(into)
export(read_json)
export(rows)
export(whichever)
S3method(print, fathom_report)
S3method(as.character, fathom_report)
S3method(print, fathom_view)
